[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
boto3 = "*"

[dev-packages]
pytest = "*"
requests_mock = "*"
moto = "*"
pylint = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
